<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let user of users | async">
  <div class="header">
    <h2 class="nomPropriétaire" *ngFor="let user of users | async"> {{user.prenom}} {{user.name}}</h2>
     <div class="space-between">
       <div class="compteurbiens">
         <ion-badge color="light" mode="ios">{{compteur}}</ion-badge>
        <p>Requêtes en cours</p>
       </div>



     </div>

    </div>
    <div class="flex">
    <div class="bordureVerte">
    <div class="bordureBlanche">
    <div class="photoProfil" *ngFor="let user of users | async">
      <img [src]="user.photo">
    </div>
  </div>
  </div>
  </div>

<ion-card *ngFor="let user of users | async">
  <ion-card-header> Mon compte </ion-card-header>
  <ion-item> {{ user.name }} {{ user.prenom }} </ion-item>
  <ion-item> {{ user.email }} </ion-item>
  <ion-item> {{ user.mobile }} </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="update_btn" routerLink='/profilinfo'> Modifier </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card *ngIf="user.code">
  <ion-card-header> Information de votre propriétaire </ion-card-header>
  <ion-item> {{ typena }} {{ typepr }} </ion-item>
  <ion-card-subtitle> Comment contacter votre propriétaire ? </ion-card-subtitle>
  <ion-item> {{ typeem }} </ion-item>
  <ion-item>  {{ typemo }} </ion-item>

</ion-card>
<ion-card *ngIf="user.code === ''">
  <ion-card-header> Oops ! Il semble que votre propriétaire vous a supprimé <br> Si vous en avez un, vous pouvez rajouter un code dans la modification de votre profil et continuer a utiliser l'app ! </ion-card-header>
</ion-card>

<ion-button class="secondary_btn" expand="block" fill="outline" (click)='confirmSignOut()'>Se déconnecter</ion-button>

<ion-button class="primary_btn" expand="block" fill="outline" (click)='handleButtonClick()'>Supprimer le compte</ion-button>



</ion-content>




