<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-back-button text="Retour">
     </ion-back-button>
   </ion-buttons>
    <ion-title class="gras">Découvrez le plan 1 - X$</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="arrondi">
  <ion-card-title>
    <p class="center">vous avez accès à:</p>
  </ion-card-title>
  <ion-card-content>
      <ion-slides pager="true">
        <ion-slide >
          <ion-item>caractéristique 1</ion-item>
        </ion-slide>
        <ion-slide >
          <ion-item>caractéritisque 2</ion-item>
        </ion-slide>
        <ion-slide >
          <ion-item>caractéritisque 3</ion-item>
        </ion-slide>
        <br>
        <br>
      </ion-slides>
  </ion-card-content>
</ion-card>

<ion-card class="arrondi">
  <ion-card-title>
    <p class="center">Idéale pour:</p>
  </ion-card-title>
  <ion-card-content>
    <ion-list>
      <ion-item>caractéristique 1</ion-item>
      <ion-item>caractéristique 2</ion-item>
      <ion-item>caractéristique 3</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card class="arrondi">
  <ion-card-title>
    <p class="center">Service supplémentaires:</p>
  </ion-card-title>
  <ion-card-content>
    <ion-list>
      <ion-item>caractéristique 1</ion-item>
      <ion-item>caractéristique 2</ion-item>
      <ion-item>caractéristique 3</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-button color= "vert" class="colorb" expand="block">
  Acheter
</ion-button>

</ion-content>
