<ion-header>
  <ion-toolbar>
    <ion-title>Requêtes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="secondary_btn" expand="block" fill="outline" routerLink="/requetes">Ajouter une requête</ion-button>

  <ion-card>
    <ion-card-title> Nouvelles requêtes</ion-card-title>
    <ion-list *ngFor="let req of newReqL | async" [routerLink]="'../../requeteinfo/' + req.id" >
      <ion-item [class]="req.etat" >
        <ion-label>
          <h2>{{req.nom}} </h2>
          <h3> {{req.bienName}} </h3>
          <p> {{req.description}} </p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

<ion-card>
  <ion-card-title> Requêtes en cours de traitements </ion-card-title>
  <ion-list *ngFor="let req of inprogressReqL | async" [routerLink]="'../../requeteinfo/' + req.id" >
    <ion-item [class]="req.etat" >
      <ion-label>
        <h2>{{req.nom}} </h2>
        <h3> {{req.bienName}} </h3>
        <p> {{req.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-card>



<ion-card>
  <ion-card-title> Historique de vos requêtes </ion-card-title>
  <ion-list *ngFor="let req of finishReqL | async" [routerLink]="'../../requeteinfo/' + req.id" >
    <ion-item [class]="req.etat" >
      <ion-label>
        <h2>{{req.nom}} </h2>
        <h3> {{req.bienName}} </h3>
        <p> {{req.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>

</ion-content>
