<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="secondary_btn" expand="block" fill="outline" routerLink="/ajoutbien">Ajouter un bien</ion-button>

  <!--création d'une boucle avec ngFor-->

  <ion-list inset="true" *ngFor="let loop of listeBiens">
  <ion-item [routerLink]="['/monbien']" >
    <ion-thumbnail class="ion-margin-end">
      <ion-img src="{{bienImmo.imageURL}}"></ion-img>
    </ion-thumbnail>
    <ion-label>{{bienImmo.labelBien}}</ion-label>
  </ion-item>
</ion-list>



<ion-card>
  <img src="assets/repair.png"/>
  <ion-card-header>
    <ion-card-subtitle>Fonctionnalité</ion-card-subtitle>
    <ion-card-title>Consultez la liste de vos requêtes en cours</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card *ngIf="addreq">
<ion-item lines="none">
<ion-input placeholder="Nommez votre requête" [(ngModel)]="nom" type="text"></ion-input>
</ion-item>
<ion-item lines="none">
<ion-input placeholder="Décrivez votre requête" [(ngModel)]="description" type="text"></ion-input>

</ion-item>
</ion-card>

<ion-button *ngIf="!addreq" (click)="showFormulaire()" expand="block" color="success" >
<ion-icon name="add-circle-outline" slot="start"></ion-icon>
Ajouter une requête
</ion-button>

<ion-button *ngIf="addreq" (click)="addRequete()" expand="block" color="light" >
<ion-icon name="save" slot="start"></ion-icon>
Enregistrer l'ajout
</ion-button>

<ion-button *ngIf="addreq" (click)="showFormulaire()" expand="block" color="success" >
<ion-icon name="close-circle-outline" slot="start"></ion-icon>
Annuler l'ajout
</ion-button>


<ion-card *ngFor="let item of items | async">
<ion-item lines="none">
  <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
  <ion-label>{{ item.nom }}</ion-label>
</ion-item>
</ion-card>
</ion-content>
