<ion-header>
  <ion-toolbar>
    <ion-title> Profil </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let user of users | async">

  <ion-card>

    <form [formGroup]="essaieForm" (ngSubmit)="addMike()" novalidate validationUserMessage>

    <ion-card-header> Modifier ma photo de profil </ion-card-header>
    <div class="photoProfil">
      <img [src]="user.photo">
    </div>

    <ion-input type="file" (change)="uploadPhoto($event)" accept=".png,.jpg"> Choisir une nouvelle image. </ion-input>

    <ion-button class="primary_btn" expand="block" fill="solid" type="submit"> Modifier ma photo de profil</ion-button>

  </form>

  </ion-card>



  <ion-card>

  <ion-card-header> Modifier vos informations </ion-card-header>

  <form [formGroup]="essaieForm" (ngSubmit)="uptadeInfo()" novalidate validationUserMessage>
    <div>
      <ion-item>
        <ion-input formControlName="name" type="text" [value]="user.name" required [placeholder]="user.name">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="prenom" type="text" required [placeholder]="user.prenom">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-input formControlName="mobile" type="tel" required [placeholder]='user.mobile'>
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>
    </div>

    <ion-button class="primary_btn" expand="block" fill="solid" type="submit">Modifier les informations</ion-button>

  </form>

  </ion-card>


  <ion-card>

    <ion-card-header> Modifier votre adresse email</ion-card-header>

    <form [formGroup]="essaieForm" (ngSubmit)="presentAlertConfirmEmail()" novalidate validationUserMessage>

      <ion-item>
        <ion-input formControlName="email" type="text" required [placeholder]="user.email">
        </ion-input>
      </ion-item>

      <ion-button class="primary_btn" expand="block" fill="solid" type="submit">Modifier l'email</ion-button>

    </form>

  </ion-card>


  <ion-card>

    <ion-card-header> Modifier votre mot de passe </ion-card-header>


    <form [formGroup]="essaieForm" (ngSubmit)="presentAlertConfirmPassword()" novalidate validationUserMessage>

      <ion-item>
        <ion-input formControlName="password" type="password" required placeholder="***********">
        </ion-input>
      </ion-item>

      <ion-button class="primary_btn" expand="block" fill="solid" type="submit">Modifier le mot de passe</ion-button>

    </form>

  </ion-card>

  <ion-card *ngIf="user.type === 'L' ">

    <ion-card-header> Changer de bien </ion-card-header>

    <ion-card-content> Attention, si vous changer le code d'acces au bien en location pour un nouveau, vous serrez rediriger vers la page de connection.</ion-card-content>

    <form [formGroup]="essaieForm" (ngSubmit)="handleButtonClick('Voulez vous changez de code ?')" novalidate validationUserMessage>

      <ion-item>
        <ion-input formControlName="code" type="text" required placeholder="Nouveau code">
        </ion-input>
      </ion-item>

      <ion-button class="primary_btn" expand="block" fill="solid" type="submit">Modifier le code</ion-button>

    </form>

  </ion-card>


</ion-content>
