<ion-header>
  <ion-toolbar>
    <ion-title>Archives</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let bien of biens | async">
    <img [src]="bien.image" alt="image du bien">
    <div>
      <ion-card-title class="title"> {{ bien.name }}</ion-card-title>
      <br>
      <ion-text class="content"> {{bien.rue}} {{bien.numero}}, {{bien.codepostal}} {{bien.ville}}, {{bien.province}}</ion-text>
      <br>
      <ion-text class="content"> {{bien.prix}}€/mois</ion-text>
    </div>

    <ion-button class="secondary_btn" expand="block" fill="outline" (click)="getBack(bien.itself)" routerLink="/navbar/mesbiens">Récuperer ce bien</ion-button>

    <ion-button class="primary_btn" expand="block" fill="solid" (click)="handleButtonClick(bien.itself, bien.spaceRef)">Supprimer définitivement ce bien</ion-button>

  </ion-card>

</ion-content>
