<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>

    <ion-slide>

      <div class="haut">
        <a href="/home">Passer</a>
      </div>

      <div>
        <ion-card class="titre">
          <ion-card-header>
          <ion-card-title>Bienvenue sur Cô-Lock!</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>

   <div>
      <ion-img class="imgslide1" src="assets/logofinal.png"></ion-img>
   </div>

      <div>
        <p>Votre application de gestion locative<br>
        Votre aide au quotidien pour tous vos biens en location<br>
        </p>
     </div>

    </ion-slide>


    <ion-slide>

      <ion-card class="titre">
        <ion-card-header>
        <ion-card-title>Restez en contact!</ion-card-title>
        </ion-card-header>
      </ion-card>


      <div class="imgslide2">
          <ion-img style="width: 250px; height: 250px;" src="assets/joslide2.png"> </ion-img>
      </div>

      <div>
        <p>
          Restez en contact facilement avec vos propriétaires/locataires a tout moment!
        </p>
      </div>

    </ion-slide>


    <ion-slide>

      <ion-card class="titre">
        <ion-card-header>
        <ion-card-title>Centralisation des informations</ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class=imgslide3>
        <img src="assets/joslide3.png">
      </div>

      <div>
        <p>Retrouvez toutes les informations nécessaires de vos biens à un seul endroit</p>
      </div>

      <div class="bas">
        <ion-button color="vert" href="/home">Suivant</ion-button>
      </div>
    </ion-slide>

  </ion-slides>


</ion-content>

<ion-footer>

</ion-footer>


