<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="essaieForm" (ngSubmit)="addMike()" novalidate>

    <ion-item>
      <ion-input type="file" class='image' formControlName="doc" placeholder="Ajouter un document" (change)="uploadPhoto($event)" accept=".png,.jpg,.docx, .pdf" multiple="true">
      </ion-input>
    </ion-item>

    <div *ngIf="barStatus">
      Uploading.....
    </div>

    <ion-text> Description du documents </ion-text>

    <ion-item>
      <ion-input formControlName="name" placeholder="Nom du document"></ion-input>
    </ion-item>

    <ion-item class="enditem">
      <ion-input id='description' formControlName="description" placeholder="Description"></ion-input>
    </ion-item>

    <ion-button type="submit" class="primary_btn" expand="block" fill="solid" >Ajouter</ion-button>

  </form>


</ion-content>
