ion-icon{
  color: white;
}

ion-tabs{
  background-color: transparent;
}


ion-tab-bar{
  background-color: #B0ACA2;
  border-color: #B0ACA2;
  width:95%;
  margin: 2.5%;
  border-radius: 20px;
}

ion-tab-button{
  background-color: transparent;
}
#cart-btn {
  position: relative;
}

#cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}
