<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une requête</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-subtitle> Pourquoi ajouter une requête ?</ion-card-subtitle>
    <ion-card-content> L'ajout d'une requête permet de notifier un point d'attention concernant le bien. Celle-ci sera visible par le propriétaire et le locataire.
      Tous deux pourront rapidement voir si la requête a été prise en charge et à quel moment. Un fois terminée, la requête reste enregistrée pour avoir une vue de l'historique. </ion-card-content>
      <form [formGroup]="reqForm" (ngSubmit)="addRequete()" novalidate>
    <div>


      <ion-card-subtitle> J'ajoute ma requête</ion-card-subtitle>

      <ion-item lines="none">
        <ion-input type="file" class='image' formControlName="file" placeholder="Ajouter une image" (change)="uploadPhoto($event)" accept=".png,.jpg"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Nommez votre requête" formControlName="nom" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea placeholder="Décrivez votre requête" formControlName="description" class="field"></ion-textarea>
      </ion-item>

        <ion-item *ngIf="type === 'P'" lines="none">
          <ion-label>Enregistrer en temps que Reminder </ion-label>
          <ion-checkbox checked="false" formControlName="perso"></ion-checkbox>
        </ion-item>


    </div>

    <ion-button  type="submit "expand="block" class="primary_btn">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Enregistrer
    </ion-button>
      </form>
</ion-card>


</ion-content>
