<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Accueil" defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="hello-cmpt">
    <ion-img src="../assets/SVGCO-LOCK petit.svg"></ion-img>
    <ion-text>
      <h1 class="hello-text">Bonjour !</h1> <br>
      <h2 class="hello-text"> Qui êtes-vous ?</h2>
    </ion-text>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        Je suis <br> propriétaire
      </ion-col>
      <ion-col>
        Je suis <br> locataire
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" routerLink="/sign-up-propio"><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" routerLink="/sign-up-locataire"><ion-icon name="arrow-forward-circle-outline" ></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bottom-side">
    <ion-text>J'ai déja un compte. </ion-text>
    <a routerLink="/login" class="underline">Se connecter</a>
  </div>

</ion-content>
