<ion-header>
  <ion-toolbar>
    <ion-title> Document </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="docs">

  <ion-card>
    <ion-card-header> {{docs.name}} </ion-card-header>
    <ion-card-subtitle> {{docs.description}} </ion-card-subtitle>
    <ion-card-content>
      <img class="docpres" [src]="docs.url">
      <ion-button class="secondary_btn" expand="block" fill="outline" type="submit" (click)="lien(docs.url)"> Voir le document </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header> Modifier le document </ion-card-header>
    <ion-card-content> Si vous souhaitez modifier le fichier enregistré, inserez-en un nouveau</ion-card-content>

  <form [formGroup]="essaieForm" (ngSubmit)="uptdateDoc()" novalidate validationUserMessage>
    <div>
      <ion-item>
        <ion-input formControlName="url" type="file" required placeholder="Nouveau document" (change)="uploadPhoto($event)" accept=".png,.jpg,.docx, .pdf">
        </ion-input>
      </ion-item>
    </div>

    <div *ngIf="barStatus">
      Chargement.....
    </div>

    <ion-button class="secondary_btn" expand="block" fill="outline" type="submit" (click)="uptdateDoc()">Mettre à jour </ion-button>

  </form>



  <ion-card-header> Modifier les informations </ion-card-header>

  <form [formGroup]="essaieForm" (ngSubmit)="uptadeInfo()" novalidate validationUserMessage>
    <div>
      <ion-item>
        <ion-input formControlName="name" type="text" [value]="docs.name" required placeholder="Modifier le titre de votre document">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="description" type="text" required placeholder="Modifier la description de votre document">
        </ion-input>
      </ion-item>

    </div>

    <ion-button class="secondary_btn" expand="block" fill="outline" type="submit">Mettre à jour </ion-button>

  </form>

  </ion-card>

  <ion-button class="primary_btn" expand="block" fill="solid" (click)="confirmDelete()">Supprimer le document</ion-button>



</ion-content>
