<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="acceuil">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="mesbiens">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Mes Biens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajoutbien">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notif</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil-p">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
