ion-content {
  --ion-background-color:#eceff1;
}


ion-card {
  --ion-background-color: white;
}

.center {
   text-align: center;
   font-weight: bold;
}

.gras{
  font-weight: bold;
}

ion-item {
   text-transform: uppercase;
}

.arrondi{
   border-radius: 25px;
}

.colorb{
   --border-color:#b0bec5;
   --color:black;
}

.padding{
   margin-left: 50px;
}

p{
   color: black;
}

h2{
   color: black;
}
