
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h2>
      Abonnement
    </h2>
    <p class="padding">
      Il est temps de choisir la formule qui convient le mieux à vos besoins.
    </p>
  </div>
  <ion-card class="arrondi">

    <ion-card-title>
      <p class="center">Plan 1 - X$</p>
    </ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item>caractéristique 1</ion-item>
        <ion-item>caractéristique 2</ion-item>
        <ion-item>caractéristique 3</ion-item>
      </ion-list>
      <ion-button [routerLink]="['/planproprio']" class="colorb" size ="small" fill="outline" expand="block">
        en savoir plus
      </ion-button>
      <ion-button color= "vert" class="colorb" expand="block">
        Acheter
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card class="arrondi">

    <ion-card-title>
      <p class="center">Plan 2 - X$</p>
    </ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item>caractéristique 1<ion-icon name="arrow-forward-outline"></ion-icon></ion-item>
        <ion-item>caractéristique 2</ion-item>
        <ion-item>caractéristique 3</ion-item>
      </ion-list>
      <ion-button class="colorb" size ="small" fill="outline" expand="block">
        en savoir plus
      </ion-button>
      <ion-button color= "vert" class="colorb" fill="solid" expand="block">
        Acheter
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card class="arrondi">

    <ion-card-title>
      <p class="center">Plan 3 - X$</p>
    </ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item>caractéristique 1</ion-item>
        <ion-item>caractéristique 2</ion-item>
        <ion-item>caractéristique 3</ion-item>
      </ion-list>
      <ion-button class="colorb" size ="small" fill="outline" expand="block">
        en savoir plus
      </ion-button>
      <ion-button color= "vert" class="colorb" expand="block">
        Acheter
      </ion-button>
    </ion-card-content>

  </ion-card>


</ion-content>
