<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Acceuil" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="hello-cmpt">
    <ion-text>
      <h1 class="hello-text">CÔ-LOCK <br> est ravi de<br>  vous revoir !</h1>
    </ion-text>
  </ion-card>

  <div class="erreur">
    <ion-text> {{erreur}}</ion-text>
  </div>

  <form>

    <div>
      <ion-item>
        <ion-input type="text" name="email" placeholder="email" [(ngModel)]="email" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" name="password" placeholder="*******" [(ngModel)]="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

    </div>

    <ion-button class="primary_btn" expand="block" fill="solid" (click)="signIn()">Se connecter</ion-button>

  </form>


</ion-content>
