ion-header{
  position: absolute;
}

ion-toolbar{
  --ion-background-color: transparent;
  --opacity :0;
}

.hello-text{
  text-align: center;
  font-size: 32px;
  letter-spacing: 7px;
  line-height: 1.6;
  color: black;
  font-weight: 700;
  padding : 10px;
}

ion-card{
  margin-top: 110px;
  margin-bottom: 40px;
  box-shadow: none;
}

ion-item{
  --border-width: 0px;
  --highlight-color-focused : none;

}

ion-input{
  --background: #F5F5F5;
  border-radius: 10px;
  margin: 5px;
}

ion-icon{
  margin: 10px;
}

.erreur{
  margin-bottom: 10px ;
  color: red;
  text-align: center;
}

.primary_btn{
  --border-radius: 15px;
  --background : #455F51;
  margin: 10px;
  margin-top: 30px;
}

