<ion-header>
  <ion-toolbar>
    <ion-title>Requêtes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title> Requêtes </ion-card-title>
    <ion-card-subtitle class="sub"> Nouvelles </ion-card-subtitle>

    <ion-list *ngFor="let req of newReqs | async" [routerLink]="'../../requeteinfo/' + req.id" >
      <ion-item [class]="req.etat" >
        <ion-label>
          <h2>{{req.nom}} </h2>
          <h3> {{req.bienName}} </h3>
          <p> {{req.description}} </p>
        </ion-label>
      </ion-item>
    </ion-list>

  <ion-card-subtitle class="sub">  En cours de traitements </ion-card-subtitle>

  <ion-list *ngFor="let req of inprogressReqs | async" [routerLink]="'../../requeteinfo/' + req.id" >
    <ion-item [class]="req.etat" >
      <ion-label>
        <h2>{{req.nom}} </h2>
        <h3> {{req.bienName}} </h3>
        <p> {{req.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card-subtitle class="sub"> Terminées </ion-card-subtitle>

  <ion-list *ngFor="let req of finishReqs | async" [routerLink]="'../../requeteinfo/' + req.id" >
    <ion-item [class]="req.etat" >
      <ion-label>
        <h2>{{req.nom}} </h2>
        <h3> {{req.bienName}} </h3>
        <p> {{req.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>



<ion-card>
  <ion-card-title> Reminders </ion-card-title>
  <ion-card-subtitle class="sub"> Nouveaux </ion-card-subtitle>

  <ion-list *ngFor="let req of newRem | async" [routerLink]="'../../requeteinfo/' + req.id" >
    <ion-item [class]="req.etat" >
      <ion-label>
        <h2>{{req.nom}} </h2>
        <h3> {{req.bienName}} </h3>
        <p> {{req.description}} </p>
      </ion-label>
    </ion-item>
  </ion-list>

<ion-card-subtitle class="sub">  En cours de traitement </ion-card-subtitle>

<ion-list *ngFor="let req of inprogressRem | async" [routerLink]="'../../requeteinfo/' + req.id" >
  <ion-item [class]="req.etat" >
    <ion-label>
      <h2>{{req.nom}} </h2>
      <h3> {{req.bienName}} </h3>
      <p> {{req.description}} </p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-card-subtitle class="sub"> Terminés </ion-card-subtitle>

<ion-list *ngFor="let req of finishRem | async" [routerLink]="'../../requeteinfo/' + req.id" >
  <ion-item [class]="req.etat" >
    <ion-label>
      <h2>{{req.nom}} </h2>
      <h3> {{req.bienName}} </h3>
      <p> {{req.description}} </p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-card>

</ion-content>
